<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/informations.css">
    <link rel="icon" href="/assets/img/C.png" type="image/x-icon">
    <title>Informations sur l'artiste</title>
</head>
<body>
    <header>
        <h1>Les<br>Cramptons</h1>
        <div id="img">
            <a href="/artist-list?focus=true"><img src="../../../assets/img/loupe.png"></a>
        </div>
    </header>
    <div id="top">
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/artist-list">Artistes</a></li>
            <li><a href="/informations">Informations</a></li>
        </ul>
    </div>
    
    <div id="BodyInformations">
        <div class="infoTeam">
            <h1>Qui sommes-nous ?</h1>
            <p>"Les Cramptons" est une équipe de développement composée de 3 personnes :<br>
                <br>
                - Noémie DUBLANC : Développeuse Front-End, Designer<br>
                - Nicolas PRIGENT : Développeur Back-end, pilote automobile HOT WHEELS <br>
                - Maxime ISIDORE :  Développeur Front-end, Chef de projet</p>
        </div>

        <div class="infoProject">
            <h1>Quel est notre projet ?</h1>
            <p>Notre projet est de créer un site web permettant de suivre les concerts de vos artistes préférés. Vous pourrez ainsi suivre les dates de concerts, les lieux, les horaires, les prix, et même les membres des groupes. Vous pourrez également consulter les informations pratiques pour vous rendre à ces concerts.</p>
        </div>

        <div class="infoContact">
            <h1>Comment nous contacter ?</h1>
            <p>Vous pouvez nous contacter par mail à l'adresse suivante : <br>
               <br>
                maxime.isidore@ynov.com
            </p>
        </div>
        
    </div>
</body>
</html>